# Django settings
DJANGO_SECRET_KEY=5p^ihp*n_)65kf!43$bv&l9di$!f%%4ertffh96)peun&r)pye
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=tasteandseegardens.com,bible.tasteandseegardens.com,localhost,127.0.0.1

# Database
DB_NAME=bibleteacher
DB_USER=bibleuser
DB_PASSWORD=Buck30488
DB_HOST=localhost
DB_PORT=5432

# Bible API
BIBLE_API_KEY='bff6cd82cd4828f3967057e82e4c13cf'
DEFAULT_BIBLE_VERSION=de4e12af7f28f599-02

# SSL (set to False if not using HTTPS)
DJANGO_SECURE_SSL_REDIRECT=True
