asgiref==3.11.1
beautifulsoup4==4.15.0
bleach==6.4.0
certifi==2026.6.17
charset-normalizer==3.4.7
coverage==7.14.2
Django==6.0.6
factory_boy==3.3.3
Faker==40.23.0
idna==3.18
iniconfig==2.3.0
lxml==6.1.1
mutagen==1.48.0
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
psycopg2-binary==2.9.12
Pygments==2.20.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.12.0
python-docx==1.2.0
python-dotenv==1.2.2
requests==2.34.2
soupsieve==2.8.4
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0
webencodings==0.5.1
